services:
  app:
    build:
      context: .
      dockerfile: ./cmd/pr-reviewer/Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      - CONFIG_PATH=./config/local.yml
    ports:
      - 8080:8080
    networks:
      - app-net

  postgres:
    image: postgres:17
    restart: always
    env_file:
      - .env
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
      - app-net

  migrator:
    build:
      context: .
      dockerfile: ./cmd/migrator/Dockerfile
    restart: "no"
    env_file:
      - .env
    environment:
      - CONFIG_PATH=./config/local.yml
    ports:
      - 8081:8081
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-net

volumes:
  postgres-data:

networks:
  app-net:
    driver: bridge